header{
  background-color: lightsalmon;
}
main{
  background-color: khaki;
}

aside{
  background-color: maroon;
}
.yellow{
  background-color: yellow;

}
.blue{
  background-color: blue;

}
.green{
  background-color: green;

}
.pink{
  background-color: pink;

}
.red{
  background-color: red;

}
.purple{
  background-color: purple;

}
footer{
  background-color: lightcoral;
}
